# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
*.sqlite3
*.sqlite
db.sqlite3

# Django migrations
*/migrations/
*/migrations/*.py
*/migrations/*.pyc

# Static/media files
staticfiles/
static/
media/

# VSCode / PyCharm / JetBrains
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Env files
.env
.env.*

# Node stuff (if you’re using any frontend with npm/yarn)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage and test files
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pycharm
*.iml
